{% extends "hood/base.html" %}
{% block content %}
    {% for biz in bizs %}
    <h1>{{biz}}</h1>
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ biz.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'business-detail' biz.id %}">{{ biz.name }}</a>
              <small class="text-muted">{{ biz.created_on|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ biz.name }}</a></h2>
            <p class="article-content">{{ biz.description }}</p>
            <p class="article-content">{{ biz.location }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}